/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto_regular;
}

@font-face {
    font-family: roboto_regular;
    src: url(./Roboto-Regular.ttf);
}

/* Main flex class */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Setting width of webpage and centering */
.websiteContainer, .navbar {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    background-color: #cccccc;
    padding: .5em 1em;
}

input {
    width: 25%;
    height: 2em;
}

#loginButton {
    background-color: #2b78e4;
    color: white;
}

/* Container class to space out the three boxes
   Items aligned to top with flex-start */
.websiteContainer {
    gap: 20px;
    align-items: flex-start;
}

.leftColumn {
    flex: 2;
}

.rightColumn {
    flex: 1;
    margin-top: 20px;
    padding: .5em 1em;
    text-align: center;
}

.ninjaDefinitionBox {
    margin-top: 20px;
    justify-content: flex-start;
    gap: 10px;
}

a {
    color: hsl(208deg 90% 31%);
}

.likeButton {
    background-color: #fed966;
}

.rightColumn, .ninjaDefinitionBox {
    border: 2px solid black;

}

.ninjaDefinitionLeft {
    text-align: center;
    padding: .5em 1em;
}

#dojonary {
    text-align: left;
}

.ninjaDefinitionRight {
    padding: .5em 1em;
}

button {
    box-shadow: 2px 2px black;
    border: 2px solid black;
    padding: .5em 1em;
    margin: 12px 0px;
}

#addDefinition {
    background-color: #93c47d;
    padding: .5em 1em;
}